pyTelegramBotAPI==4.14.0
PySocks==1.7.1
Telethon==1.33.1
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
wheel
psutil
pyaes
yarl==1.9.4
urllib3
python-socks==2.4.4